body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
  
    background: rgb(136,108,228);
background: linear-gradient(321deg, rgba(136,108,228,1) 0%, rgba(75,59,128,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    



}



.profile-picture {
    display: block;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: auto;
    max-width: 150px;
    border-radius: 50%;
    border: solid 2px;
  
  }

.name {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    font-size: 30px;
  }

.func {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    font-size: 14px;
  }

.links {
      font-family: 'Barlow Semi Condensed', sans-serif;
      text-align: center;
      margin-top: 10px;
      padding: 15px;
      border: 1px solid white;
      border-width: 2px;
      width: 290px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 100px;
  }

a {
    text-decoration: none;
    color: white;
    transition: color 0.5s; 
}


a:hover {
    color: #000;
    background: #fff;
}


